                            /* HEADER AND NAVIGATION */
*{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1{
    color: rgb(237, 231, 231);
    text-shadow: 2px 2px #ff0000; ;
}
header{
    /* padding: auto 30px; */
    background-image: url(assets/recycled-colored-flower-pots-made-.webp);
    background-size: contain;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 10px;
}
#text-area{
    width: 84%;
    display: inline;
    height: 28px;
    resize: none;
    border: 1px solid rgb(142, 206, 235);
    padding: 3% 0 0 5px;
    /* top right bottom left
        top r+l bottom
        t+b r+l */
    border-radius: 20px;
}
#searchbar button{
    border: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url("assets/search.png");
    background-size: cover; /* Ensures the image covers the entire button */
}
#searchbar button:hover{
    cursor: pointer;
    transform: translate(0.5px, 0.5px); /* Moves .5px right, .5px down */
}
.nav-links button{
    background-color: rgb(57, 130, 57);
    border: none;
    border-radius: 18px;
    font-size: 20px;
    font-weight: 600;
    width: fit-content;
    color: rgb(33, 31, 31);
}
.nav-links button:hover{
    background-color: rgb(237, 217, 226);
    border-bottom: 2px #ff0000;;
}

                    /* FILTER SIDEBAR */
input[type="radio"],
input[type="checkbox"] {
    accent-color: rgb(57, 130, 57); 
}                    
#main-grid {
    border: 2px solid red;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-columns: auto, minmax(0, 1fr);
    gap: 10px;
    max-width: 1300px;
    /* margin: auto; */
    padding: 20px 10px;

}

#sidebar {
    border: 2px solid rgb(23, 9, 9);
    /* border-right: 1px solid grey; */
    /* border-image: linear-gradient(to bottom, transparent, grey, transparent) ; */
    box-shadow: 0 30px 40px -10px rgba(0,0,0,.1);
    display: grid;
    align-content: start;
    padding: 10px 20px;
    width: 190px;
    gap: 15px;
    border-radius: 8px;
}
#highlight{
    /* background-color: #ff0000; */
    /* border: 3px solid #f00; */
    border: none;
    background-image: linear-gradient(to top right, rgb(248, 64, 64), rgb(252, 151, 151));
    border-radius: 8%;
    padding: 6px 0 6PX 6PX;
    animation: blinker 2s linear infinite;
}
 @keyframes blinker {
        50% {
            opacity: 0.8; 
        }
    }
@media screen and (max-width: 1000px) {
    #sidebar{
        width: 95px;
    }
    #banimg{
        width: auto;
        height: auto;
        overflow: hidden;
    }
    #bantext{
        font-size: small;
    }
}
.sidebar-section {
    display: grid;
    /* gap: 8px; */
    width: inherit;
    overflow: scroll;
    height: 200px;
    /* border: 3px solid rgb(61, 39, 39); */

}
.sidebar-section p {
    margin: 0;
    font-size: 13px;
    cursor: pointer;
    padding: 8px 10px;
}

.sidebar-title {
    font-weight: 600;
    margin-bottom: 5px;
}
.grey {
    color: #505050;
}
.see-all {
    color: rgb(36, 84, 36);
}
                        /* PRODUCT PAGE */
#prod-page{
    border: 2px solid #505050;
    padding: 15px 10px;
    width: inherit;
}
#banner{
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(26, 202, 146); */
    height: 300px;
    background-color: rgb(150, 183, 150);
    flex-wrap: wrap;
    flex-shrink: 3;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 8px;
}
/* #bantext, #banimg{
    border: 2px solid yellow;
} */
#banimg{
    /* padding-right: 10%; */
    min-width: 0;
    width: 100%;
    max-width: 550px;
    
    height: auto;
}
#banimg img{
    /* border: 1px solid red; */
    /* height: 290px; */
    width: 100%;
    max-width: 550px;
    
    height: auto;
    /* width: inherit; */
    min-width: 0;
}
#bantext{
    align-content: center;
    padding: 0 10px 0 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(51, 74, 53);
    animation: blinker 2s linear infinite;
}
 @keyframes blinker {
        50% {
            opacity: 0.6; 
        }
    }